{% extends "themes/base_admin.html.twig" %}

{% block title %}Le blog de Jean Dupont - Admin - Tableau de bord{% endblock %}

{% block description %}Le blog de Jean Dupont - Admin - Tableau de bord{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Hello {{app.user.firstName}}</h1>
{% endblock %}