<footer class="bg-dark text-white text-center py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Espace utilisateur</p>
            </div>
            <div class="col-md-6">
                Le blog de Jean-Dupont
            </div>
        </div>
    </div>
</footer>