{% extends "themes/base_admin.html.twig" %}

{% block title %}Le blog de Jean Dupont - Admin - Les paramètres{% endblock %}

{% block description %}Le blog de Jean Dupont - Admin - Les paramètres{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Les paramètres</h1>
{% endblock %}
